@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: articulat-cf;
  src: url(../public/fonts/ArticulatCF-Regular.woff);
}

body {
  margin: 0;
  background-color: #353535;
  font-family: articulat-cf;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
